In [1]:
temperature = 28

In [2]:
if temperature > 20:
    print("Heatwave warning!")

Heatwave warning!

In [3]:
temperature = 16
if temperature > 20:
    print("Heatwave warning!")
elif temperature < 10:
    print("The usual")
else:
    print("Perfect")

Perfect

# loops

In [5]:
numbers = [1, 2, 3, 4]

for number in numbers:
    print(number * 2)

2
4
6
8

In [7]:
person = {
    "name": "del",
    "age": 63,
    "languages": ["English", "Terrible puns"]
}

for value in person.values():
    print(value)

del
63
['English', 'Terrible puns']

In [8]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [9]:
even_numbers = []

In [10]:
for number in numbers:
    if number %2 == 0:
        even_numbers.append(number)

In [11]:
print(even_numbers)

[6, 2, 2, 6]

In [12]:
# List comprehensions

# List comprehensions

In [13]:
numbers = [1, 2, 3, 4]

numbers_squared = []

In [14]:
for number in numbers:
    numbers_squared.append(number * number)
    
numbers_squared

[1, 4, 9, 16]

In [15]:
numbers_squared = [number * number for number in numbers]

In [16]:
numbers_squared

[1, 4, 9, 16]

In [17]:
multiples_of_12 = []

for number in range(101):
    if number %12 == 0:
        multiples_of_12.append(number)
        
multiples_of_12

[0, 12, 24, 36, 48, 60, 72, 84, 96]

In [18]:
[number for number in range(101) if number %12 == 0]

[0, 12, 24, 36, 48, 60, 72, 84, 96]

In [20]:
words = ["apple", "orange", "lemon"]

length_of_words = {word: len(word) for word in words}

In [27]:
primes = [i for i in range(2, 100) if i %2 != 0 
          and i %3 != 0 
          and i %5 != 0 
          and i %7 != 0 
          and i %11 != 0]

primes

[13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

In [28]:
{i: str(i) + "th" for i in range (4, 11)}

{4: '4th', 5: '5th', 6: '6th', 7: '7th', 8: '8th', 9: '9th', 10: '10th'}